<%= @results %>

<table class="table">

	<% @results.each do |row| %>
		<tr>
			<td><%= row['userName'] %></td> 
			<td><%= row['phone'] %></td>
			<td><%= row['dateTime'] %></td>
			<td><%= row['barber'] %></td>
			<td><%= row['color'] %></td>
		</tr>
	<% end %>

</table>
	<!-- <tr>
		<td>aaa</td>
		<td>bbb</td>
	</tr>

	<tr>
		<td>ccc</td>
		<td>ddd</td>
	</tr>

	<tr>
		<td>aee</td>
		<td>fff</td>
	</tr>
 -->
