<table class="table table-striped">

	<thead>
		<tr>
			<th>Имя</th> 
			<th>Телефон</th>
			<th>Дата записи</th>
			<th>Парикмахер</th>
			<th>Цвет</th>
		</tr>
	</thead>

	<tbody>
		<% @results.each do |row| %>
		<tr>
			<td><%= row['userName'] %></td> 
			<td><%= row['phone'] %></td>
			<td><%= row['dateTime'] %></td>
			<td><%= row['barber'] %></td>
			<td><%= row['color'] %></td>
		</tr>
		<% end %>
	</tbody>	
</table>
	<!-- <tr>
		<td>aaa</td>
		<td>bbb</td>
	</tr>

	<tr>
		<td>ccc</td>
		<td>ddd</td>
	</tr>

	<tr>
		<td>aee</td>
		<td>fff</td>
	</tr>
 -->
